body{
    background:#eee;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#e7bec1;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#aa242d;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.custom-text-size {
    font-size: 1.3rem;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li a i{
    padding:10px;
    color:#aa242d;
    font-size:19px;
}


.buttons button:nth-child(1){
        border:1px solid #aa242d !important;
        color:#aa242d;
        height:40px;
        background-color: #fff;
}

.buttons button:nth-child(1):hover{
        border:1px solid #aa242d !important;
        color:#fff;
        height:40px;
        background-color:#aa242d;
}

.buttons button:nth-child(2){
        border:1px solid #aa242d !important;
        background-color:#aa242d;
        color:#fff;
        height:40px;
}
